{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block platform_body %}
<h2>Liste des annonces</h2>
<ul>
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('platform_view', {'id':advert.id}) }}">
                {{ advert.title }}
            </a>
            par {{ advert.author }},
            le {{ advert.date|date('d/m/Y') }}
        </li>
        {% if not advert.categories.empty %}
            <p>
                Annonce parue dans la/les catégorie(s) suivante(s):
                {% for category in advert.categories %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        {% else %}
        <li>Pas encore d'annonces</li>
    {% endfor %}
</ul>
{% endblock %}
